/* Приховуємо посилання на заголовок сайту у шапці */
/* Цей селектор приховує будь-яке посилання, яке є прямим нащадком h1, що знаходиться в header */
header h1 a {
    display: none !important;
}
/* Прибираємо рамки для елементів списку */
.markdown-body ul li {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    padding: 0 !important; /* Прибирає внутрішні відступи */
    margin: 0 !important;  /* Прибирає зовнішні відступи */
}
} */
/* Прибираємо рамки для елементів списку */
.markdown-body ul li {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    padding: 0 !important; /* Прибирає внутрішні відступи */
    margin: 0 !important;  /* Прибирає зовнішні відступи */
}

/* Можливо, для bold тексту теж є якась рамка, хоча це менш імовірно */
.markdown-body strong {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

/* Загальні елементи тексту */
.markdown-body p {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
}
